html {

  overflow-x: hidden !important;

}

body {

  background-color: white;
  overflow-x: hidden !important;
  position: relative !important;
  width: 100% !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;

}

.unslate_co--site-nav .site-nav-ul > li > a, .unslate_co--site-nav .site-nav-ul-none-onepage > li > a {
  color: black;
}

.unslate_co--site-nav .site-nav-ul > li > a:hover, .unslate_co--site-nav .site-nav-ul-none-onepage > li > a:hover {
  color: rgb(207, 82, 82);
}

.unslate_co--site-nav .site-nav-ul > li > a.active:before, .unslate_co--site-nav .site-nav-ul-none-onepage > li > a.active:before {
  color: rgb(207, 82, 82);
}

.unslate_co--site-nav .site-nav-ul-none-onepage > li > a.active:before {
  color: rgb(207, 82, 82);
}

.unslate_co--site-nav .site-nav-ul > li.has-children > .dropdown, .unslate_co--site-nav .site-nav-ul > li.has-children > ul, .unslate_co--site-nav .site-nav-ul-none-onepage > li.has-children > .dropdown, .unslate_co--site-nav .site-nav-ul-none-onepage > li.has-children > ul {
 background: rgb(207, 82, 82);
}

.unslate_co--site-nav .site-nav-ul > li.has-children > .dropdown > li.has-children > a:before, .unslate_co--site-nav .site-nav-ul > li.has-children > ul > li.has-children > a:before, .unslate_co--site-nav .site-nav-ul-none-onepage > li.has-children > .dropdown > li.has-children > a:before, .unslate_co--site-nav .site-nav-ul-none-onepage > li.has-children > ul > li.has-children > a:before {

  color: black
}

.unslate_co--site-nav .site-nav-ul > li.active > a:before, .unslate_co--site-nav .site-nav-ul-none-onepage > li.active > a:before {
  color: black;
  width: calc(100% - 40px);
}

.unslate_co--site-nav .site-nav-ul > li > a:before, .unslate_co--site-nav .site-nav-ul-none-onepage > li > a:before {

  background: black;

}

.unslate_co--site-nav .unslate_co--site-logo {
  font-size: 1.7rem;
  color: black;
  font-weight: 700;
}

.unslate_co--site-mobile-menu {

  background: rgb(207, 82, 82);

}

.unslate_co--site-mobile-menu .close-wrap a .close-label {

  color: black
}

#logo {
  font-family: 'Averia Serif Libre', cursive;

}

#first {

  color: black;

}

#second {
  color: red;

}

.dropdown a {

  color: black !important;

}

.close-label:hover {

  color: whitesmoke !important

}

.black-writing {

  color: black !important;

}

.averia{

  font-family: 'Averia Serif Libre', cursive;

}

#videoBG {

  position: absolute;
  z-index: -1;

}

@media (min-aspect-ration: 16/9) {

  #videoBG {

    width: 100%;
    height: auto;

  }

}

@media (max-aspect-ratio: 16/9) {

  #videoBG {

    width:auto;
    height:100%;

  }

}

#video-wrapper {

  width: 100vw;
  height: 100vh;
  overflow: hidden;

}



#portfolio-section {

  background-color: white;
  z-index: 2;
  position: relative;

}

h1 {

  font-size: 70px !important;
  

}

#portfolio-section span, #portfolio-section p, #portfolio-section h2 {

  color: black !important;

}

#reworking-header {

  color: black !important;

}


#basket-full-screen {

  background-color:green;
  width: 100px;
  height: 100px;
  position: absolute;
  float: right;
  

}

#container-nav {

  width: 100% !important;
  padding-right: 0px !important;
  padding-left: 0px !important;


}

#test {

  width: 15px;
  height: 15px;
  background-color: green;
  float:right !important;
  position: absolute !important;
  top: 0px;
  left: 90vw;
  

}

.clear {

  clear:both;

}